VITE_SITE_NAME = "Seanの主页"
VITE_SITE_AUTHOR = "Sean"
VITE_SITE_KEYWORDS = "Sean,个人主页"
VITE_SITE_DES = "一个默默无闻的主页"
VITE_SITE_URL = "example.com"
VITE_SITE_LOGO = "/images/icon/favicon.ico"
VITE_SITE_MAIN_LOGO = "/images/icon/logo.png"
VITE_SITE_APPLE_LOGO = "/images/icon/apple-touch-icon.png"

VITE_DESC_HELLO = "Hello World !"
VITE_DESC_TEXT = "一个建立于 21 世纪的小站，存活于互联网的边缘"
VITE_DESC_HELLO_OTHER = "Oops !"
VITE_DESC_TEXT_OTHER = "哎呀，这都被你发现了（ 再点击一次可关闭 ）"

VITE_WEATHER_KEY = ""
VITE_SITE_START = "2020-10-24"
VITE_SITE_ICP = ""

VITE_SONG_API = "https://api-meting.imsyy.top/api"
VITE_SONG_SERVER = "netease"
VITE_SONG_TYPE = "playlist"
VITE_SONG_ID = "7452421335"
